<div [formGroup]="parentFormGroup" [class]="containerClass">
    <ng-template [ngIf]="true" [formArrayName]="parentFormArrayName">
      <label [for]="id">{{ label }}</label>
      <input
        [formControlName]="parentFormControlName"
        [id]="id"
        [name]="id"
        [type]="type"
        [attr.min]="min"
        [attr.aria-required]="required"
        [attr.aria-describedby]="ariaDescribedby"
        [attr.data-errorMsg]="errorMsg"
        [attr.data-error]="hasError"
        (focus)="handleFocus()"
        (blur)="handleFloatingLabels()"
        #thisInput
      />
    </ng-template>
  </div>
  