<h1>Who's Playing?</h1>
<form [formGroup]="playerNamesForm" (ngSubmit)="onSubmit()">

    <div formArrayName="playerNames">
        <ul *ngFor="let playerName of playerNames.controls; let i=index">
            <li>
                <label for="player-{{i}}"></label>
                <input id="player-{{i}}" type="text" [formControlName]="i">
            </li>
        </ul>
    </div>

    <button type="button" class="btn btn-block btn-primary" (click)="addPlayerNameField()">App Player</button>
    <button *ngIf="roundToEdit === 1; else elseBlock" type="submit" class="btn btn-block btn-primary">Start Game</button>
    <ng-template #elseBlock>
        <button type="submit" class="btn btn-block btn-primary">Continue Game</button>
        <button type="submit" class="btn btn-block btn-primary">Start New Game</button>
    </ng-template>
</form>


