<h1>Who's Playing?</h1>
<ul class="list-unstyled player-list">
    <li *ngFor="let player of players">
        <app-floating-label-input
            label="Player Name"
            [id]="'name-' + player.id.toString()"
            [value]="player.name"
            [required]="true"
        ></app-floating-label-input>
    </li>
</ul>
<button type="button" class="btn btn-block btn-primary" (click)="addPlayer">App Player</button>
<button *ngIf="roundToEdit === 1; else elseBlock" type="button" class="btn btn-block btn-primary" (click)="startGame">Start Game</button>
<ng-template #elseBlock>
    <button type="button" class="btn btn-block btn-primary" (click)="continueGame">Continue Game</button>
    <button type="button" class="btn btn-block btn-primary" (click)="startGame">Start New Game</button>
</ng-template>
